<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/styles/folderContent.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <main>
      <div class="container">
        <%- include('../partials/sidebar') %>
        <div class="content">
          <div class="folder-infos">
            <p class="folder-name">
              <%= folder.name %>
              <span>
                <%= folder.files.length %>
                file(s)
              </span>
            </p>
            <div class="folder-actions">
              <% if (folder.share) { %>
              <a href="/share/link/<%= folder.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>share link</title>
                  <path
                    d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z"
                  />
                </svg>
                Share link
              </a>

              <% } else {%>
              <a href="/share/create/<%= folder.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>share</title>
                  <path
                    d="M18,16.08C17.24,16.08 16.56,16.38 16.04,16.85L8.91,12.7C8.96,12.47 9,12.24 9,12C9,11.76 8.96,11.53 8.91,11.3L15.96,7.19C16.5,7.69 17.21,8 18,8A3,3 0 0,0 21,5A3,3 0 0,0 18,2A3,3 0 0,0 15,5C15,5.24 15.04,5.47 15.09,5.7L8.04,9.81C7.5,9.31 6.79,9 6,9A3,3 0 0,0 3,12A3,3 0 0,0 6,15C6.79,15 7.5,14.69 8.04,14.19L15.16,18.34C15.11,18.55 15.08,18.77 15.08,19C15.08,20.61 16.39,21.91 18,21.91C19.61,21.91 20.92,20.61 20.92,19A2.92,2.92 0 0,0 18,16.08Z"
                  />
                </svg>
                Share
              </a>
              <% } %>

              <a href="/folder/<%= folder.id %>/update">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>form-textbox</title>
                  <path
                    d="M17,7H22V17H17V19A1,1 0 0,0 18,20H20V22H17.5C16.95,22 16,21.55 16,21C16,21.55 15.05,22 14.5,22H12V20H14A1,1 0 0,0 15,19V5A1,1 0 0,0 14,4H12V2H14.5C15.05,2 16,2.45 16,3C16,2.45 16.95,2 17.5,2H20V4H18A1,1 0 0,0 17,5V7M2,7H13V9H4V15H13V17H2V7M20,15V9H17V15H20Z"
                  />
                </svg>
                Rename
              </a>
              <a href="/upload/<%= folder.id %>">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                  <title>upload</title>
                  <path d="M9,16V10H5L12,3L19,10H15V16H9M5,20V18H19V20H5Z" />
                </svg>
                Upload
              </a>
              <form action="/folder/<%= folder.id %>/delete" method="post">
                <button
                  type="submit"
                  onclick="return confirm('Delete this folder with all content?')"
                >
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>delete</title>
                    <path
                      d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
                    />
                  </svg>
                  Delete
                </button>
              </form>
            </div>
          </div>

          <% if (folder.files.length > 0) { %>
          <div class="folder-content">
            <div>
              <p>Name</p>
              <p>Size</p>
              <p>Upload date</p>
              <p></p>
            </div>
            <hr />
            <% folder.files.forEach(file => { %>
            <div class="file-card">
              <p class="name">
                <img
                  src="/files_icons/<%= file.mimetype.split('/')[0] %>.svg"
                  alt=""
                />
                <%= file.name %>
              </p>
              <p><%= file.size %> Mb</p>
              <p><%= file.uploadedAt %></p>
              <div class="file-actions">
                <a href="/file/<%= file.id %>/download">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>download</title>
                    <path d="M5,20H19V18H5M19,9H15V3H9V9H5L12,16L19,9Z" />
                  </svg>
                </a>
                <form action="/file/<%= file.id %>/delete" method="post">
                  <button type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <title>delete</title>
                      <path
                        d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z"
                      />
                    </svg>
                  </button>
                </form>
              </div>
            </div>
            <hr />
            <% }) %>
          </div>
        </div>
        <% } %>

        <% if (folder.files.length === 0) { %>
        <div class="empty-folder">
          <div><img src="/empty_folder.png" alt="" /></div>
          <p>Upload your files here...</p>
        </div>
        <%}%>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
